{{ $footerData := .Site.Data.footer }}
<footer>
  <div class="container">
    <img src="{{ .Site.BaseURL }}images/{{ $footerData.logo }}" alt="{{ $footerData.logoAlt }}" class="footer__logo">
    <p>{{ $footerData.blurb }}</p>
    <p>&copy;{{ dateFormat "2006" now }} {{ $footerData.copyright }}</p>
  </div>
</footer>
