{{ define "main" }}
{{- $homeData := .Site.Data.home -}}
  <div class="home">
    <!-- Title -->
    <section class="home__full transparent flex">
      <div class="img-bg greyed fixed" style="background-image: url('{{ .Site.BaseURL }}images/{{ $homeData.mainImage }}'); background-position: {{ $homeData.mainImagePosition }};"></div>
      <div class="cell flex home__title">
        <div class="cell flex col">
          <div class="cell flex col">
            <h1 hidden aria-hidden="false">{{ $homeData.title }}</h1>
            <img src="{{ .Site.BaseURL }}images/{{ $homeData.titleImageURL }}" alt="{{ $homeData.titleImageAlt }}">
            <p>{{ $homeData.subtitle }}</p>
          </div>
          <div class="home__title__pull-icon">
            <svg width="40" height="40" viewBox="0 0 24 24">
              <path fill="#fff" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section class="home__block flex block-tablet">
      <!-- Slogan -->
      <div class="cell flex col home__slogan">
        <div class="home__container">
          <p class="h3 center">{{ $homeData.slogan }}</p>
        </div>
      </div>
      <!-- Goals -->
      <div class="cell">
        <div class="home__text home__container">
          <h2 class="center">{{ $homeData.goalsTitle }}</h2>
          <ol class="home__goals">
            {{ range $index, $item := $homeData.goals }}
              <li class="home_goals__item">
                <span class="home__goals__num">{{ add $index 1 }}</span>{{ $item }}
              </li>
            {{ end }}
          </ol>
        </div>
      </div>
    </section>
    <section class="home__block flex home__highlight">
      <!-- Image -->
      <div class="cell img-bg hide-tablet" style="background-image: url('{{ .Site.BaseURL }}images/{{ $homeData.image1 }}');"></div>
      <!-- Bio -->
      <div class="cell home__bio">
        <div class="home__text home__container">
          <h2 class="h3">{{ $homeData.bioTitle }}</h2>
          {{ $homeData.bio | markdownify }}
        </div>
      </div>
    </section>
    <!-- Stages -->
    <section class="home__block flex col">
      <h2 class="cell-rigid center">{{ $homeData.stagesTitle }}</h2>
      <div class="cell">
        <div class="flex wrap block-tablet home__stages">
          {{ range $homeData.stages }}
            <div class="cell-rigid home__stages__item">
              <div class="home__container home__text">
                <h3>{{ .name }}</h3>
                <ul>
                  {{ range .desc }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- Contact us -->
    <section class="home__block flex col home__highlight home__contact">
      <p class="h2 cell center">{{ $homeData.contactTitle }}</p>
      <div class="buttons cell flex block-tablet">
        <div class="cell flex">
          <a href="mailto:{{ .Site.Params.email }}" target="_blank" class="button">{{ $homeData.emailCTA }}</a>
        </div>
        <div class="cell flex">
          <a href="{{ .Site.Params.facebookLink }}" target="_blank" class="button">{{ $homeData.fbCTA }}</a>
        </div>
        <div class="cell flex">
          <a href="{{ .Site.Params.newsletterLink }}" target="_blank" class="button">{{ $homeData.newsletterCTA }}</a>
        </div>
      </div>
    </section>
  </div>
{{ end }}
