.main > article.container {
  margin: 30px auto;
}

.main article.container {
  h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  h1 { font-size: 4.3rem; }
  h2 { font-size: 3.2rem; }
  h3 { font-size: 2.5rem; }
  h4 { font-size: 1.9rem; }
  h5 { font-size: 1.7rem; }
  h6 { font-size: 1.5rem; }
}
